<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>College of Enigineering and Technology</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/styles2.css">
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/portalHome"
    ><img
      id="Achievers-Logo"
      src="images/logo/logo.png"
      alt="Achievers-Logo"
      draggable="false"
      height="30"
  /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ms-auto align-items-center">
      <li class="nav-item d1">
        <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li class="nav-item d2">
        <a class="nav-link" href="/result1">Result</a>
      </li>
      <li class="nav-item d3">
        <a class="nav-link" href="/registerCourses">Register Courses</a>
      </li>
      <li class="nav-item d4">
        <a class="nav-link" href="/viewProfile">Profile</a>
      </li>
      <li class="nav-item d4">
        <button class='btn btn-danger' type='button'>
          <a class='nav-link' href='/logout'>Logout</a>
        </button>
      </li>
      <li class="nav-item dropdown mr-auto">
        <a class="nav-link dropdown-toggle hidden" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" href="/courses">Courses</a>
          <a class="dropdown-item" href="/result1">Results</a>
          <a class="dropdown-item" href="/registerCourses">Register Courses</a>
          <a class="dropdown-item" href="/viewProfile">Profile</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- Navbar -->



