<%- include('partials/header1') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="images/new_logo-2.png" alt="">
    <h1 class="display-3"><b>College Of Engineering and Technology</b></h1>
    <p class="lead"></p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
