<%- include('partials/header2') %>


<div class="container rounded bg-white mt-5 mb-5" id="box">
    <div class="row">
        <div class="col-md-3 border-right">       
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer') %>