<%- include('partials/header2') %>

<div class="container rounded bg-white mt-5 mb-5" id="box">
    <div class="row">
        
        <div class="col-md-12 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between  align-items-center mb-3">
                    <h4 class="text-right mx-auto">View Results</h4>
                </div>
                <form action="/result1" method="post">
                    <div class="row mt-2">
                        <div class="col-md-7 mx-auto">
                            <label class="labels">Matric Number</label>
                            <input type="text" class="form-control" placeholder="Matric Number" name="matricNumber" value="">
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                      <button class="btn btn-primary profile-button" type="submit">View Result</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>

<%- include('partials/footer') %>
