<%- include('partials/header2') %>

<div class="container rounded bg-white mt-5 mb-5" id="box">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="">

                <form method="POST" action="/profile-upload-single" enctype="multipart/form-data">
                    <div>
                        <label>Upload profile picture</label>
                        <input type="file" name="profile-file" required/>
                    </div>
                    <div>
                        <input type="submit" value="Upload" />
                    </div>
                </form>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
  
<%- include('partials/footer') %>